In [1]:
import os
#set directories
# ASAP_DIR = r'/home/levi/asap'
SILKROAD_DIR = r'silkroad'
VICE_DIR = r'vice_city'
DARKFOX_DIR = r'darkfox'


def get_names(DIR):
    '''retrieve vendor names from html file in directories'''
    
    files = os.listdir(DIR)
    vendor_names = [i[:-5] for i in files]
    
    return vendor_names
    
# asap_vendors = get_names(ASAP_DIR)
silkroad_vendors = get_names(SILKROAD_DIR)
vice_vendors = get_names(VICE_DIR)
darkfox_vendors = get_names(DARKFOX_DIR)

all_vendors = darkfox_vendors + silkroad_vendors + vice_vendors
#  + asap_vendors
all_vendors = list(dict.fromkeys(all_vendors)) #remove duplicates
#list(set(vice).intersection(asap))

In [2]:
#df.loc[df['name'] == 'DopeNL', 'products'] = 10

#list of common marketplaces
list_of_markets = ['apollon', 'white house', 'vice city', 'torrez', 'empire', 'silkroad', 'darkfox','asap',
                   'berlusconi', 'cartel','monopoly','icarus','pax romana', 'cryptonia', 'nightmare', 
                   'invictus', 'world market', 'traderoute', 'wall street']

In [3]:
###SCRAPE DATA FROM DARKFOX####
from bs4 import BeautifulSoup as bs


darkfox_data=[] #empty list which will contain our data


for i in range(len(os.listdir(DARKFOX_DIR))): #for each html file
    
    darkfox_df = {} #empty dictionary which will contain user data
    
    categories = []
    completed_orders = [0]
    ships_from = []
    active_markets = []
    
    
    name = os.listdir(DARKFOX_DIR)[i][:-5] #vendor name
      
    
    with open(DARKFOX_DIR+'/' + os.listdir(DARKFOX_DIR)[i],encoding="utf-8") as f: #open the file
        soup = bs(f, 'html.parser') #read using beautiful soup

        txt = soup.find_all(text=True) #only text
        
    #find active markets
    for market in list_of_markets:
        if market in soup.text.lower(): #lowercase text
            active_markets.append(market)
    
        
    #find product categories    
    for line in list(txt):
        if 'Category' in line:
            categories.append(line[10:])
        if 'Ships from' in line:
            ships_from.append(line[12:])
            
            
    #remove duplicates  
    categories = list(dict.fromkeys(categories))
    ships_from = list(dict.fromkeys(ships_from))
    active_markets = list(dict.fromkeys(active_markets))
    
    
    #find number of completed orders
    for idx, line in enumerate(list(txt)): 
            if 'Completed orders:' in line:
                orders = txt[idx+1]
                completed_orders.append(orders)
    
   
    #add name, categories,completed orders, location and known markets
    darkfox_df['name'] = name
    darkfox_df['products'] = categories
    darkfox_df['completed_orders'] = int(completed_orders[-1]) #there are two numbers so only add the last one
    darkfox_df['ships_from'] = ships_from
    #darkfox_df['active_markets'] = active_markets
    
    darkfox_data.append(darkfox_df) #add user to dataframe
        
        
#         if categories != []:
#             df.loc[df['name'] == name, 'products'] = categories

In [4]:
import pandas as pd

darkfox_data = pd.DataFrame(data= darkfox_data) #transform to dataframe
darkfox_data.to_csv('darkfox.csv')
darkfox_data.sort_values('completed_orders', ascending = False)

,name,products,completed_orders,ships_from
604,Schneider,[Cocaine],1378,[Germany]
242,egoods,"[Data & Scans, Personal Info, Accounts & Drops]",1031,[]
768,yoshisteam,"[Security, Fraud, Dumps, Accounts & Drops, Acc...",710,[]
497,Onepiece,"[Fraud, Cards & CVV]",602,[]
225,DrunkNinja,"[Other, Fraud, Malware, Crypters, Hacking, Bot...",583,[]
...,...,...,...,...
375,Justporn,[],0,[]
373,joco0000,[Tobacco],0,[Slovenia]
372,jjkifft,[],0,[]
368,JamesOcean,[],0,[]
0,2GD4DN,[],0,[]

In [5]:
# with open(ASAP_DIR+'/' + os.listdir(ASAP_DIR)[4]) as f:
    
#     soup = bs(f, 'html.parser') #read using beautiful soup
    
#     txt=soup.find_all(text=True)

# name = os.listdir(ASAP_DIR)[4][:-5]

# for line in list(txt):
#     if 'Username' in line:

In [9]:
###ASAP SCRAPER###

asap_data=[] #empty list which will contain our data

for i in range(len(os.listdir(ASAP_DIR))): #for each html file
    
    asap_df = {} #empty dictionary which will contain user data
    
    active_markets = []
    
    name = os.listdir(ASAP_DIR)[i][:-5] #vendor name
      
    
    with open(ASAP_DIR+'/' + os.listdir(ASAP_DIR)[i]) as f: #open the file
        soup = bs(f, 'html.parser') #read using beautiful soup

        txt = soup.find_all(text=True) #only text
        
    #find active markets
    for market in list_of_markets:
        if market in soup.text.lower():
            active_markets.append(market)
    
    #remove duplicates   
    active_markets = list(dict.fromkeys(active_markets))
       
    #add name, categories,completed orders, location and known markets
    asap_df['name'] = name
    asap_df['active_markets'] = active_markets
    
    asap_data.append(asap_df) #add user to dataframe
        
        
#         if categories != []:
#             df.loc[df['name'] == nam

NameError: name 'ASAP_DIR' is not defined

In [109]:
asap_data = pd.DataFrame(data=asap_data)
asap_data.to_csv('asap_data.csv')
asap_data.head()

             name                                     active_markets
0       pharmatec                                             [asap]
1          ICEGOD   [white house, torrez, empire, asap, wall street]
2   danielvitor61                                     [torrez, asap]
3  QualityFakeIDs                        [white house, empire, asap]
4     mysteryland  [apollon, torrez, empire, asap, invictus, worl...

In [7]:
###VICE_CITY SCRAPER###

vice_data=[] #empty list which will contain our data

for i in range(len(os.listdir(VICE_DIR))): #for each html file
    
    vice_df = {} #empty dictionary which will contain user data
    
    active_markets = []
    
    name = os.listdir(VICE_DIR)[i][:-5] #vendor name
      
    
    with open(VICE_DIR+'/' + os.listdir(VICE_DIR)[i],encoding="utf-8") as f: #open the file
        soup = bs(f, 'html.parser') #read using beautiful soup

        txt = soup.find_all(text=True) #only text
        
    #find active markets
    for market in list_of_markets:
        if market in soup.text.lower():
            active_markets.append(market)
    
    #remove duplicates   
    active_markets = list(dict.fromkeys(active_markets))
       
    #add name, categories,completed orders, location and known markets
    vice_df['name'] = name
    vice_df['active_markets'] = active_markets
    
    vice_data.append(vice_df) #add user to dataframe

In [8]:
vice_data = pd.DataFrame(data=vice_data)
vice_data.to_csv('vice_data.csv')
vice_data.head(15)

                name            active_markets
0          8drugsafe     [vice city, monopoly]
1       ==backatit28  [white house, vice city]
2     ==lloydspharma  [white house, vice city]
3      ==melvinbankz  [white house, vice city]
4          ==MonPham  [white house, vice city]
5            ABCandy               [vice city]
6               alfa               [vice city]
7        amazoncrime               [vice city]
8            ASAPM0B         [vice city, asap]
9       authenticity               [vice city]
10        backatit28               [vice city]
11            bajie1               [vice city]
12  baselswitzerland         [vice city, asap]
13          BigPenis               [vice city]
14     blackmagicplc               [vice city]

In [10]:
###SCRAPE DATA FROM SILKROAD####
from bs4 import BeautifulSoup as bs

silkroad_data=[] #empty list which will contain our data

for i in range(len(os.listdir(SILKROAD_DIR))): #for each html file
    
    silkroad_df = {} #empty dictionary which will contain user data
    
    categories = []
    ships_from = []
    
    name = os.listdir(SILKROAD_DIR)[i][:-5] #vendor name
      
    
    with open(SILKROAD_DIR+'/' + os.listdir(SILKROAD_DIR)[i],encoding="utf-8") as f: #open the file
        soup = bs(f, 'html.parser') #read using beautiful soup

        txt = soup.find_all(text=True) #only text
        
        
    #find product categories    
    for idx,line in enumerate(list(txt)):
        if 'Category' in line:
            category = txt[idx+1] #get text after 'category:'
            categories.append(category)
            
        if 'Ships From' in line:
            ships = txt[idx+1]
            if ships != '\n':
                ships_from.append(ships)
            
            
    #remove duplicates  
    categories = list(dict.fromkeys(categories))
    ships_from = list(dict.fromkeys(ships_from))
    
    
    #add name, categories,completed orders, location and known markets
    silkroad_df['name'] = name
    silkroad_df['products'] = categories
    silkroad_df['ships_from'] = ships_from
    
    silkroad_data.append(silkroad_df) #add user to dataframe
    
silk_data = pd.DataFrame(data=silkroad_data)
silk_data.to_csv('silk_data.csv')
silk_data.head(15)

,name,products,ships_from
0,2GD4DN,"[LSD, Cocaine]",[Netherlands]
1,AcidFamily,[LSD],[Germany]
2,actioneu,"[Ecstasy, Cocaine, Ketamine]",[Netherlands]
3,addykings,"[Diazepam, Oxycodon, MDMA, Xanax, Others, Serv...",[United States]
4,alanmarret,"[Accounts, Banks, CC/CVV, Counterfeits, Carded...",[United States]
5,Amazon10,"[LSD, Cocaine, Ecstasy]",[Netherlands]
6,amazoncrime,"[eBooks, Speed, LSD, Meth]",[Austria]
7,americansteroid,[Steroids],[United States of America]
8,AmsterdamLiquidXno1,"[LSD, 2C, Ketamine, Oxycodon, Ecstasy]",[Netherlands]
9,amsterdamxpress,"[Ketamine, Ecstasy, Pills]",[Germany]
10,ApothekeDE,"[Oxycodon, Pills, Heroin]",[Germany]
11,ARKANA,"[Counterfeits, Ketamine, 2C, LSD]",[Not Specified]
12,ASAPRockyMDMA,[Ecstasy],[Netherlands]
13,baby,"[Ships From: , Erotica]",[United States of America]
14,BalkanWeed,[Buds & Flowers],[Greece]

In [13]:
# build dataframe containing which markets the user is active
import pandas as pd
import numpy as np


test = []
for i in all_vendors:
    
    data = {}
    data['name'] = i
    data['markets'] = []
    data['ships_from'] = []
    data['products'] = []
    
    
    if i in silkroad_vendors:
        vendor_data = silk_data.loc[silk_data.name == i] #find same vendor in df
        shipping = vendor_data['ships_from'].iloc[0] #get shipping
        products = vendor_data['products'].iloc[0]
        
        data['markets'].append('silkroad')
        data['ships_from'].extend(shipping)
        data['products'].extend(products)
        
    if i in vice_vendors:
        vendor_data = vice_data.loc[vice_data.name == i] #find same vendor in df
        vendor_markets = vendor_data.active_markets.iloc[0] #get active markets
        
        data['markets'].extend(vendor_markets)

    if i in darkfox_vendors:
        vendor_data = darkfox_data.loc[darkfox_data.name == i] #find same vendor in df
        shipping = vendor_data['ships_from'].iloc[0] #get shipping
        products = vendor_data['products'].iloc[0] #add products
        
        
        data['markets'].append('darkfox')#add market
        data['ships_from'].extend(shipping) #add shipping
        data['products'].extend(products)
        
    # if i in asap_vendors:
    #     vendor_data = asap_data.loc[asap_data.name == i] #find same vendor in df
    #     vendor_markets = asap_data.active_markets.iloc[0] #get active markets
        
    #     data['markets'].extend(vendor_markets)
        
    
    data['markets']=list(dict.fromkeys(data['markets'])) #remove duplicates
    data['ships_from']=list(dict.fromkeys(data['ships_from']))
    data['products']=list(dict.fromkeys(data['products']))
    
    data['n_markets'] = len(data['markets'])
    
    test.append(data)

df = pd.DataFrame(data=test)
df.head()

,name,markets,ships_from,products,n_markets
0,2GD4DN,"[silkroad, darkfox]",[Netherlands],"[LSD, Cocaine]",2
1,420Quality,[darkfox],"[United States, Uganda]",[Weed],1
2,8drugsafe,"[vice city, monopoly, darkfox]",[],[],3
3,AAquality,[darkfox],[],[],1
4,Ables1,[darkfox],[],[],1

In [172]:
df.to_csv('all_users.csv')

In [14]:
df

,name,markets,ships_from,products,n_markets
0,2GD4DN,"[silkroad, darkfox]",[Netherlands],"[LSD, Cocaine]",2
1,420Quality,[darkfox],"[United States, Uganda]",[Weed],1
2,8drugsafe,"[vice city, monopoly, darkfox]",[],[],3
3,AAquality,[darkfox],[],[],1
4,Ables1,[darkfox],[],[],1
...,...,...,...,...,...
1120,vicebuddy,[vice city],[],[],1
1121,wearerotterdam,[vice city],[],[],1
1122,WeedHunter1312,"[vice city, torrez]",[],[],2
1123,weedpandauk,[vice city],[],[],1
1124,XTCMonster,[vice city],[],[],1